@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Chọn một chức năng:</p>
    <ul>
        <li><a asp-action="GiaiPhuongTrinhBac2">Giải Phương Trình Bậc 2</a></li>
        <li><a asp-action="Ucln">Tìm UCLN</a></li>
        <li><a asp-action="SoNgayTrongThang">Số Ngày Trong Tháng</a></li>
        <li><a asp-action="TongSoNguyenTo">Tổng Số Nguyên Tố</a></li>
    </ul>
</div>

